 
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;

}
h1{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}
.totalTasks{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
#tasksEingabe{
    color: #000000;
    font-size: 20px;
    height: 64px; 
    width: 600px;
    background: #d1d1d1;
    border: 1px #d1d1d1;
    margin: 5px 0px 5px;
}
.taskbar:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}
.fa-trash-alt{
    position: absolute;
    opacity: 0.5;
    font-size: 30px;
    cursor: pointer;
}