.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}
.totalTasks{
    color: #808080;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
}
.tasksEingabe{
    color: #ffffff;
    font-size: 20px;
    height: 64px;
    width: 600px;
    background: #d1d1d1;
    border: 1px #d1d1d1;
    margin: 5px 0px 5px;
}
.taskbar{
    color: #ffffff;
    font-size: 20px;
    height: 64px;
    width: 600px;
    background: #d1d1d1;
    border: 1px #d1d1d1;
    margin: 5px 0px 5px;
}
.taskbar:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}